root{
  --yellow-title: #FED307;
}

body{
  margin: 0 auto;
  padding: 0;
  height: auto;
  width: 100%;
}

img{
  width: 100%;
}
.bg-image{
  position: absolute;
  z-index: 0;
  /* height: 100%; */
  width: 100%;
}

.section{
  height: 100vh;
  width: 100%;
  background-color: black;
  padding: 50px;
  padding-top: 0px; 
}

#ep-1{
  background-image: url(img/ep-1-alt.jpg);
  background-size: 100% auto;
}

.col{
}

.head-list{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  transition: 0.3s;
  position: relative;
  background: linear-gradient(to right, #FAF0D1 5%, #EFD270 60%, #E6B80B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 2rem;
}
.head-list::after{
  content:"";
  display: block;
  height: 2px;
  /* width: 1%; */
  color: transparent;
  box-shadow:  0 0 5px 2px transparent;
  width: 0px;
  transition: 0.4s;
}
.head-list:hover{
  /* color: darkorange; */
}
.head-list:hover::after{
  content:"";
  border-bottom: 2px solid rgb(0, 255, 13);
  display: block;
  color: red;
  position: relative;
  width: 100%;
  box-shadow:  0 0 5px 2px rgb(0, 255, 13);
  position: relative;
}

.section-title{
  color: var(--yellow-title);
  font-weight: 700;
  font-size: 30px;
  text-align: end;
}

li{
  list-style-type: none;
}
ol{
  margin-left:0;
  padding-left: 7px;
}

.describing-text{
  text-align: justify;
  background: linear-gradient(to right, #FAF0D1 5%, #EFD270 60%, #E6B80B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  display: block;
  position: relative;
  right: -35px;
}